li{
  font-weight: bold;
}
#head{
  background-color:#9370db;
  display: block;
  height: 100px;
  font: 30px "Garamond", Futura, sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
input[type=text]{
    text-align: center;
    left:50%;
    width:400px;
    font-size: 18px;
    padding: 9px;
}
input[type=text]:focus {
  border: 2px solid #555;

}
.gen{
    text-align: center;
    left:50%;

}
.stuff{
    font-size: 30px;
    align:center;
}
button, input[type=submit]{
  background-color: #9370db;
  width:125px;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

body{
  background-color: lavender;
}
div{
    left:50%;
    margin:auto;
}
